*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background{
    background-color: rgb(214, 156, 9);
    height: 100vh;
    padding-top: 1px;
}

.title{
    color: rgb(134, 6, 6);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 1px solid black;
    min-height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(219, 183, 90);
}

.playerX{
    color: darkblue;
}

.playerO{
    color: rgb(1, 73, 1);
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color: rgb(134, 6, 6);
    color: white;
    padding: 8px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}